<h1>Bonhomme Pendu</h1>

<app-hangman></app-hangman>

<div *ngIf="!isConnected">
  Connecting...
</div>

<div *ngIf="isConnected">
  <div>
    <button [disabled]="!canStartNewGame()" (click)="startGame()">Démarrer une nouvelle partie!</button>
  </div>
  <div *ngIf="gameData" style="margin-top: 32px;">


    <p style="font-size: 48px; margin-top:16px; margin-bottom: 16px; font-family: 'Lucida Grande', monospace;">{{gameData.revealedWord}}</p>
    <p style="font-size: 24px; margin-top:16px; margin-bottom: 16px; font-family: 'Lucida Grande', monospace;">Lettres: {{gameData.guessedLetters.join(",")}}</p>
    <form *ngIf="!gameData.won && !gameData.lost" (keyup.enter)="guessWord()">
      <input type="text" maxlength="1" [(ngModel)]="letter" name="letter">
      <button type="button" [disabled]="letter.length == 0" (click)="guessWord()">Deviner</button>
    </form>
    <div *ngIf="gameData.won">
      Félicitations! 🎉🎉🎉
    </div>
    <div *ngIf="gameData.lost">
      Eeehhh... le mot c'était <b>{{wronglyGuessedWord}}</b>! Meilleure chance la prochaine fois... 😕
    </div>
  </div>
</div>


